@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.card {
  padding: 20px;
  width: 270px;
  // height: 525px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgba(254, 254, 254, 1);

  img {
    width: 269.84px;
    height: 239.93px;
    object-fit: cover;
  }

  h1 {
    color: rgba(20, 20, 20, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
  }

  .materialCard {
    display: flex;
    justify-content: space-between;

    p {
      color: rgba(171, 171, 171, 1);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      line-height: 34px;
    }
  }

  .rate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 22px;
      height: 22px;
    }

    p {
      color: rgba(171, 171, 171, 1);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 34px;
    }
  }

  .line {
    width: 268px;
    height: 0;
    border: 1px solid grey;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: rgba(20, 20, 20, 1);
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 600;
      line-height: 34px;
    }

    .priceIcons{
      .heart{
        font-size: 26px;
        color: rgba(232, 170, 49, 1);
      }
      .scales{
        font-size: 26px;
      }
    }
  }
}